@font-face{
    font-family: 'Bahij-regular';
    src: url(../font/BAHIJ_THESANSARABIC-PLAIN.ttf);
}
@font-face{
    font-family: 'Bahij-bold';
    src: url(../font/ARBFONTS-BAHIJ_THESANSARABIC-BOLD.TTF);
}
@font-face{
    font-family: 'Bahij-semilight';
    src: url(../font/BAHIJ_THESANSARABIC-SEMILIGHT.TTF);
}
body{
    font-family:'Bahij-regular', sans-serif;
    font-size: 18px;
    direction: rtl;
}
/************************************************
*********************************************
header
*********************************************
**************************************************/
.header{
    height: 350px;
    overflow: hidden;
}
.banner{
    background-image: url(../img/HeadBanner.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner h2{
    font-family: 'Bahij-bold', Tahoma, Verdana, sans-serif;
    font-size: 50px;
    margin-bottom: 30px;
    color: #FFE522;
    line-height: 70px;
}
.banner span.white{
    color: #fff;
}
.banner h4{
    color: #fff;
    font-family: 'Bahij-semilight', sans-serif;
    font-size: 28px;
    line-height: 50px;
}
.banner p{
  color:#fff ;
    
}
/************************************************
*********************************************
package  cards 
*********************************************
**************************************************/
.packages{
    padding: 80px 100px 30px;
    background-color: #efefef;
}
.packages .col-4{
    padding: 0px 20px;
    margin-top: 75px;
}
/* .packages h3{
    color: #0e0d0d;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 50px;
} */
.package{
    background-color: #fff;
    color: #003e81;
    border:1px solid #fff;
    border-radius: 17px;
    position: relative;
    padding-top: 100px;
    margin-top: 75px;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.package:hover{
    transform: translateY(-10px);
}
.golden{
    margin-top: 60px;
}
.package img{
    width: 110px;
    position: absolute;
    top: -63px;
    right: 50%;
    transform: translateX(50%);
}
/*stars and their animamation*/
.package .star{
    width: 27px;
    position: absolute;
    transform: translateX(50%);
}
.package .star1{
    top: -72px;
    right: 66%;
    animation: fadeInOut1 6s cubic-bezier(0.18, 0.89, 0.32, 1.28)reverse forwards infinite;
}
.package .star2{
    top: -4px;
    right: 73%;
    animation: fadeInOut2 6s cubic-bezier(0.18, 0.89, 0.32, 1.28) reverse forwards infinite;
}
.package .star3{
    top: -8px;
    right: 29%;
    animation: fadeInOut3 6s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards infinite;
}
.package .star4{
    top: -42px;
    right: 28%;
    animation: fadeInOut3 6s cubic-bezier(0, 0.19, 0, 0.54) forwards infinite;
}
.package .star5{
    top: -74px;
    right: 40%;
    animation: fadeInOut1 6s cubic-bezier(0.18, 0.89, 0.32, 1.28)  infinite;
}

@keyframes fadeInOut1 {
    0% { opacity: 0 }
    1% { opacity: 1 }
    32% {opacity: 1 }
    33% { opacity: 0 }
}

@keyframes fadeInOut2 {
    0% { opacity: 0 }
    32% {opacity: 0 }
    33% { opacity: 1 }
    64% { opacity: 1 }
    66% { opacity: 0 }
}

@keyframes fadeInOut3 {
    0% { opacity: 0 }
    64% {opacity: 0 }
    66% {opacity: 1 }
    99% { opacity: 1 }
    100% { opacity: 0 }
}
.package h4{
    margin-bottom: 45px;
    font-family: 'Bahij-bold';
}
.package .price{
    margin-top: 30px;
    position: relative;
    padding: 20px 0px;
}
.package .price:before {
    content: "";
    background-color: #003e81;
    height: 1px;
    width: 80%;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
}
/*shine  btn*/
.book-package-btn{
    font-size: 1.18rem;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px 12px;
    color: #fff;
    font-weight: bold;
    border: none;
    max-width: 500px;
    background-position: -520px -480px, 0 0;
    background-size: 300% 300%, 106% 106%;
    -moz-background-size: 300% 300%, 106% 106%;
    -webkit-background-size: 300% 300%, 106% 106%;
    transition: background-position 0s ease;
    -webkit-transition: background-position 0s ease;
    -moz-transition: background-position 0s ease;
    background-repeat: no-repeat;

}
.sliver .book-package-btn{
    box-shadow: 0 0 15px rgb(121, 120, 120), 0 0 10px rgb(132, 127, 115, 0.80);
    background-image: linear-gradient(0 0, 
        rgba(255, 255, 255, 0.2) 0%, 
        rgba(58, 29, 29, 0.2) 35%, 
        rgba(255, 255, 255, 0.6) 40%, 
        rgba(255, 255, 255, 0.0) 50%), 
        linear-gradient(to right, #767676c7 0% , #797878 100%);
    background-image: -webkit-linear-gradient(top left, 
        rgba(255, 255, 255, 0.2) 0%, 
        rgba(255, 255, 255, 0.2) 35%, 
        rgba(255, 255, 255, 0.6) 40%, 
        rgba(255, 255, 255, 0.0) 50%), 
        -webkit-linear-gradient(left, #767676c7 0% , #797878 100%);
    background-image: -moz-linear-gradient(0 0, 
        rgba(255, 255, 255, 0.2) 0%, 
        rgba(255, 255, 255, 0.2) 35%, 
        rgba(255, 255, 255, 0.6) 40%, 
        rgba(255, 255, 255, 0.0) 50%), 
        -moz-linear-gradient(left, #767676c7 0% , #797878 100%);
}

.golden .book-package-btn{
    box-shadow: 0 0 15px rgb(254, 184, 0), 0 0 10px rgb(254, 208, 79, 0.81);
    background-image: linear-gradient(0 0, 
        rgba(255, 255, 255, 0.2) 0%, 
        rgba(255, 255, 255, 0.2) 35%,
        rgba(255, 255, 255, 0.6) 40%, 
        rgba(160, 134, 134, 0) 50%), 
        linear-gradient(to right, rgb(254, 184, 0, 0.97) 0% , #feb800 100%);
    background-image: -webkit-linear-gradient(top left, 
        rgba(255, 255, 255, 0.2) 0%, 
        rgba(255, 255, 255, 0.2) 35%, 
        rgba(255, 255, 255, 0.6) 40%, 
        rgba(255, 255, 255, 0.0) 50%), 
        -webkit-linear-gradient(left, rgb(254, 184, 0, 0.97) 0% , #feb800 100%);
    background-image: -moz-linear-gradient(0 0, 
        rgba(255, 255, 255, 0.2) 0%, 
        rgba(255, 255, 255, 0.2) 35%, 
        rgba(255, 255, 255, 0.6) 40%, 
        rgba(255, 255, 255, 0.0) 50%), 
        -moz-linear-gradient(left, rgb(254, 184, 0, 0.97) 0% , #feb800 100%);
}
.bronze .book-package-btn{
    box-shadow: 0 0 15px rgb(222, 84, 37, 0.87), 0 0 10px rgb(255, 233, 181,  0.80);
    background-image: linear-gradient(0 0, 
        rgba(255, 255, 255, 0.2) 0%, 
        rgba(255, 255, 255, 0.2) 35%, 
        rgba(255, 255, 255, 0.6) 40%, 
        rgba(255, 255, 255, 0.0) 50%), 
        linear-gradient(to right, #dc8a6e 0% , #ff8a62 100%);
    background-image: -webkit-linear-gradient(top left, 
        rgba(255, 255, 255, 0.2) 0%, 
        rgba(255, 255, 255, 0.2) 35%, 
        rgba(255, 255, 255, 0.6) 40%, 
        rgba(255, 255, 255, 0.0) 50%), 
        -webkit-linear-gradient(left, #dc8a6e 0% , #ff8a62 100%);
    background-image: -moz-linear-gradient(0 0, 
        rgba(255, 255, 255, 0.2) 0%, 
        rgba(255, 255, 255, 0.2) 35%, 
        rgba(255, 255, 255, 0.6) 40%, 
        rgba(255, 255, 255, 0.0) 50%), 
        -moz-linear-gradient(left, #dc8a6e 0% , #ff8a62 100%);

}
.book-package-btn:hover, .book-package-btn:active, .book-package-btn:focus {
    color: #fff;
    background-position: 0 0, -1px -1px;
    transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
}
.sliver .price{
    color: #797878;
}
.bronze .price{
    color: #ff8a62;
}
.golden .price{
    color: #feb800;
}
.price span{
    font-size: 3rem;
}
.contact img{
    width: 100%;
}
/************************************************
*********************************************
gallery
*********************************************
**************************************************/
.title{
    font-family: 'Bahij-bold', Tahoma, Verdana, sans-serif;
}
.card-title{
    padding-top: 9px;
    padding-right: 9px;
    color: #000000de;
}
/************************************************
*********************************************
footer
*********************************************
**************************************************/
.footer{
    background-color: #013e81;
    color: #fff;
}
.footer .wave{
    background-color: #fff;
}

/************************************************
*********************************************
media
*********************************************
**************************************************/
@media(min-width:1200px){
    .banner{
        background-size: 100% 140%;
    }
    .package .star1{
        right: 61%;
    }
    .package .star2{
        right: 66%;
    }
    .package .star3{
        right: 35%;
    }
    .package .star4{
        right: 34%;
    }
    .package .star5{
        right: 42%;
    }
}
@media(max-width: 1199px){
    .banner{
        padding-top: 20px;
    }
    .banner h4{
        line-height: 1.2;
    }
    .banner span.br{
        display: block;
        line-height: 50px;
    }
}
@media(max-width: 997px){
    .packages{
        padding: 30px 50px;
    }
    .package .star2{
        right: 78%;
    }
    .package .star3{
        right: 23%;
    }
    .package .star4{
        right: 26%;
    }
    .package .star5{
        right: 37%;
    }
}
@media(max-width: 767px){
    .header{
        height: 220px;
    }
    .banner{
        background-image: url(../img/smallScreen-header.jpg);
        height: 90vh;
        background-position: center top;
    }
    .banner h2{
        font-size: 38px;
    }
    .packages{
        background-color: #f7f7f7;
        padding: 10px 10px 30px;
    }
    .packages .col-12{
        margin: 1.5rem 0rem;
    }
    .package h4{
        margin-bottom: 20px;
    }
    .package .price{
        margin-top: 25px;
        padding: 10px 0px;
    }
    .package .star1{
        right: 56%;
    }
    .package .star2{
        right: 61%;
    }
    .package .star3{
        right: 40%;
    }
    .package .star4{
        right: 39%;
    }
    .package .star5{
        right: 45%;
    }
}
@media(max-width: 576){
    .package .star1{
        right: 61%;
    }
    .package .star2{
        top: -6px;
        right: 65%;
    }
    .package .star3{
        top: -3px;
        right: 37%;
    }
    .package .star4{
        right: 34%;
    }
    .package .star5{
        right: 43%;
    }
}
@media(max-width: 400px){
    .title h2{
        font-size: 24px;
    }
    .package .star1{
        right: 63%;
    }
    .package .star2{
        right: 71%;
    }
    .package .star3{
        right: 30%;
    }
    .package .star4{
        right: 30%;
    }
    .package .star5{
        right: 41%;
    }
}